/* Custom styling for Buy Now Button */

@import url("../variables.css");

.button_buy_now {
  background-color: var(--button-action-bg-color);
  width: 110px;
}

.button_buy_now:hover {
  background-color: var(--button-action-fg-color-hover);
}

