@import "web-fonts.scss";
@import "variables.scss";

body {
  background: url('../../assets/images/bg.png') 0 0 repeat #20c063;
  padding: 20px;
  font-size: 20px;
  color: $text-color;
  @include viewport(medium) {
    // background: $bg-color-medium;
  };

  p {
    filter: drop-shadow(1px 0px 5px #6DD3E8);
    font-family: lora;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    color: $text-color-inverted;
  }

}
