/* Custom styling for Play Now Button */

@import url("./variables.css");

.button_play_now {
  background-color: var(--orange-dark);
  width: 110px;
}

.button_play_now:hover {
  background-color: var(--orange-light);
}
