:root {

  --white: #fff;
  --blue-dark: #07314d;
  --blue-light: #336086;
  --blue-light-20: rgba(71, 59, 180, 0.20);
  --orange-dark: #ec4800;
  --orange-light: #f98d00;
  --gray-dark: #848484;
  --gray-light: #bebebe;
  --gray-lighter: #E8E8E7;

  --button-bg-color: var(--blue-dark);
  --button-fg-color: var(--white);
  --button-bg-color-hover: var(--blue-light);

  --button-disabled-fg-color: var(--gray-dark);
  --button-disabled-bg-color: var(--gray-light);

  --button-action-bg-color: var(--orange-dark);
  --button-action-fg-color-hover: var(--orange-light);
}
