{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "linebreak-style": [2, "unix"],
    "semi": [2, "never"],
    "curly": [2, "multi-line"],
    "handle-callback-err": [2, "^err"],
    "space-before-function-paren": [2, "always"],
    "object-curly-spacing": [2, "always"],
    "array-bracket-spacing": [2, "always"],
    "key-spacing": 0,
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "dot-notation": 0,
    "eol-last": 0,
    "no-new": 0,
    "semi-spacing": 0,
    "no-multi-spaces": 0,
    "eqeqeq": 0,
    "no-mixed-requires": 0,
    "react/jsx-no-bind": 0,
    "comma-dangle": 0,
    "consistent-return": 0,
    "no-else-return": 0,
    "react/jsx-curly-spacing": [2, "always", {"allowMultiline": false}],
    "react/jsx-no-duplicate-props": 2
  },
  "plugins": [
    "react"
  ]
}
