@import "variables.scss";

.btn {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-family: arial;
  padding: 6px 12px;
  border: 0;
  cursor: pointer;
}

.btn.btn-primary {
  color: $text-color-inverted;
  background-color: $button-color;
}
.btn.btn-primary:hover {
  background-color: $button-color-hover;
}
.btn.btn-primary > .badge {
  color: $button-color;
  background-color: $text-color-inverted;
}

.btn > .badge {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  border-radius: 10px;
  padding: 3px 6px;
  position: relative;
  top: -1px;
}
