.btn {
  display: inline-block;
  border: 0;
  padding: 6px 12px;
}

.btn.btn-primary {
  color: #fff;
  background-color: #f74A27;
}
.btn.btn-primary:hover {
  background-color: #ff7857;
}
.btn.btn-primary > .badge {
  color: #f74A27;
  background-color: #fff;
}

.btn > .badge {
  display: inline-block;
  border-radius: 10px;
  padding: 3px 6px;
}
 
