const styles = {
  'btn': {
    'display': 'inline-block',
    'border': '0',
    'padding': '6px 12px'
  },

  'btn_primary': {
    'color': '#fff',
    'backgroundColor': '#f74A27'
  },
  'btn_primary_hover': {
    'backgroundColor': '#ff7857'
  },
  'btn_primary__badge': {
    'color': '#f74A27',
    'backgroundColor': '#fff'
  }

  'btn__badge': {
    'display': 'inline-block',
    'borderRadius': '10px',
    'padding': '3px 6px'
  }
}
