.Button {
  display: inline-block;
  outline: none;
  text-align: center;
  font: bold 32px helvetica;
  padding: 20px 40px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: #ec4800;
  transition: all 300ms;
}

.Button:hover {
  background-color: #f98d00;
}

.Button-depressed:hover,
.Button-depressed {
  color: #848484;
  background-color: #bebebe;
}
