body {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #F1F1F1;
}

body,
input,
button,
textarea {
  font-size: 15px;
}

input,
button,
textarea {
  border: 1px solid #eee;
  outline: none;
}

a {
  color: #888;
  transition: color 300ms ease;
}

a:hover {
  color: #A81EFF;
}

.black {
  color: #333;
}