/* burger__menu */

.burger {
  display: block;
  position: relative;
  padding: 0;
  background-color: #F6F6F6;
  border: 0;
  cursor: pointer;
}

.burger::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.burger span {
  position: absolute;
  text-indent: -200rem;
}

.burger__menu {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0.0;
  stroke-width: 5;
  stroke: #A6A6A6;
  transition: stroke 300ms ease, transform 300ms ease-in-out;
}

.burger[aria-pressed="true"] .burger__menu {
  transform: rotate(-135deg);
}

.burger__menu path {
  backface-visibility: hidden;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.burger:hover .burger__menu {
  stroke: #A81EFF;
}

.burger__menu .burger__vertical,
.burger[aria-pressed="true"] .burger__horizontal {
  opacity: 0;
}

.burger[aria-pressed="true"] .burger__vertical {
  opacity: 1;
}

.burger~.burger__items {
  position: absolute;
  right: 0;
  z-index: 1;
  font-size: 20px;
  transition: all 300ms ease;
  opacity: 1;
  height: 0;
  width: 100%;
  top: 76px;
  background-color: rgba(240, 240, 240, 0.95);
  opacity: 0;
  visibility: hidden;
}

.burger~.burger__items li {
  max-width: 955px;
  margin: 0 auto;
}

.burger~.burger__items li:first-child {
  border-bottom: 1px solid #eee;
}

.burger~.burger__items li:hover {
  background-color: rgba(255, 255, 255, 1);
}

.burger~.burger__items li a {
  display: block;
  padding: 20px 30px;
}

.burger~.burger__items li a:hover {
  background-color: #fff;
}

.burger[aria-pressed="true"]~.burger__items {
  display: block;
  top: 76px;
  height: 100vh;
  opacity: 1;
  visibility: visible;
}

.burger[aria-pressed="true"] div {
  display: block;
}

.burger[aria-pressed="true"] .burger__horizontal-top {
  transform: translate(0, 8px);
  transform: translateY(8px);
}

.burger[aria-pressed="true"] .burger__horizontal-bottom {
  transform: translate(0, -8px);
  transform: translateY(-8px);
}