.navwrapper {
  background-color: #F6F6F6;
  border-bottom: 1px solid #E7E7E7;
}

.nav {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 935px;
}

.nav__logo {
  background-image: url(../svg/logo.svg);
  background-repeat: no-repeat;
  width: 147px;
  height: 35px;
  flex-shrink: 0;
}

.nav__logo span {
  display: none;
}

.nav__search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.nav__searchinput {
  padding: 0 10px;
  width: 75%;
}

@media (min-width: 736px) {
  .nav__searchinput {
    padding-right: 50px;
    background-image: url(../svg/search.svg);
    background-position: calc(100% - 20px) center;
    background-size: 20px;
    background-repeat: no-repeat;
  }
}

.footer {
  padding: 20px;
  max-width: 935px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  font-size: smaller;
  color: #555;
}