.post {
  position: relative;
  margin: 20px auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border: 1px solid #E7E7E7;
}

@media (min-width: 736px) {
  .post {
    padding: 20px 335px 20px 20px;
  }
}

.info {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  align-items: center;
}

@media (min-width: 736px) {
  .info {
    position: absolute;
    width: 296px;
    right: 20px;
    padding: 10px 0;
  }
}

.info__user {
  border-radius: 50%;
  width: 40px;
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
}

.info__user img {
  width: 100%;
  display: block;
}
.info__map {
  overflow: hidden;
  display: block;
  width: 22px;
  height: 22px;
  transition: all 300ms ease;
  text-indent: -999px;
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='42' viewBox='0 0 24 42'%3E%3Cpath fill='%23A6A6A6' d='M18 15c0-3.3-2.7-6-6-6s-6 2.7-6 6 2.7 6 6 6 6-2.7 6-6zM24 15c0 1.4-0.2 2.9-0.8 4.2l-8.5 18.1c-0.5 1-1.6 1.7-2.7 1.7s-2.2-0.6-2.7-1.7l-8.6-18.1c-0.6-1.3-0.8-2.8-0.8-4.2 0-6.6 5.4-12 12-12s12 5.4 12 12z' /%3E%3C/svg%3E");
}

.info__map:hover {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='42' viewBox='0 0 24 42'%3E%3Cpath fill='%23A81EFF' d='M18 15c0-3.3-2.7-6-6-6s-6 2.7-6 6 2.7 6 6 6 6-2.7 6-6zM24 15c0 1.4-0.2 2.9-0.8 4.2l-8.5 18.1c-0.5 1-1.6 1.7-2.7 1.7s-2.2-0.6-2.7-1.7l-8.6-18.1c-0.6-1.3-0.8-2.8-0.8-4.2 0-6.6 5.4-12 12-12s12 5.4 12 12z' /%3E%3C/svg%3E");
}

.photoinfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  line-height: 1.3;
}

.photoinfo__username {
  font-weight: 700;
  display: table;
}

.photoinfo__location {
  display: table;
}

.photo {
  display: flex;
  position: relative;
}

.photo__image img {
  width: 100%;
}

.meta {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

@media (min-width: 736px) {
  .meta {
    width: 335px;
    position: absolute;
    right: 0;
    top: 78px;
    bottom: 0;
    box-sizing: border-box;
  }
}

.like {
  padding: 20px 0;
  display: flex;
  flex-shrink: 0;
}

@media (min-width: 736px) {
  .like {
    border-top: 1px solid #ddd;
  }
}

.like__count {
  flex-grow: 1;
  font-weight: 700;
}

.like__button {
  width: 20px;
  height: 20px;
  transition: all 300ms ease;
  overflow: hidden;
  text-indent: -999px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23A6A6A6' d='M17.7 2c1.1 0 2.1 0.3 3 0.8s1.6 1.3 2.2 2.2 0.8 1.9 0.8 3c0 0.8-0.1 1.5-0.4 2.3s-0.7 1.4-1.3 2L12 22.1l-9.9-9.9c-0.6-0.6-1-1.2-1.3-2S0.3 8.8 0.3 8c0-1.1 0.3-2.1 0.8-3s1.3-1.6 2.2-2.2S5.3 2 6.3 2c0.8 0 1.5 0.1 2.3 0.4s1.4 0.7 2 1.3L12 5.2l1.4-1.4c0.6-0.6 1.2-1 2-1.3C16.1 2.1 16.9 2 17.7 2L17.7 2z' /%3E%3C/svg%3E%0A");
}

.like__button:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23A81EFF' d='M17.7 2c1.1 0 2.1 0.3 3 0.8s1.6 1.3 2.2 2.2 0.8 1.9 0.8 3c0 0.8-0.1 1.5-0.4 2.3s-0.7 1.4-1.3 2L12 22.1l-9.9-9.9c-0.6-0.6-1-1.2-1.3-2S0.3 8.8 0.3 8c0-1.1 0.3-2.1 0.8-3s1.3-1.6 2.2-2.2S5.3 2 6.3 2c0.8 0 1.5 0.1 2.3 0.4s1.4 0.7 2 1.3L12 5.2l1.4-1.4c0.6-0.6 1.2-1 2-1.3C16.1 2.1 16.9 2 17.7 2L17.7 2z' /%3E%3C/svg%3E%0A");
}

.notes {
  display: block;
  flex-grow: 1;
  overflow: auto;
  line-height: 1.2;
  margin-right: -20px;
}

.author {
  margin-bottom: 18px;
  padding-right: 20px;
}

.author__username {
  font-weight: 700;
}

.comment {
  margin-bottom: 18px;
  padding-right: 20px;
}

.comment__username {
  font-weight: 700;
}

.comment__deleteButton {
  float: right;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  text-indent: -999px;
  overflow: hidden;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 300ms ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23A6A6A6' d='M16 29c-7.2 0-13-5.8-13-13s5.8-13 13-13 13 5.8 13 13-5.8 13-13 13zM16 6c-5.5 0-10 4.5-10 10s4.5 10 10 10c5.5 0 10-4.5 10-10s-4.5-10-10-10zM20.5 19.5l-1 1c-0.2 0.2-0.5 0.2-0.7 0l-2.9-2.9-2.9 2.9c-0.2 0.2-0.5 0.2-0.7 0l-1-1c-0.2-0.2-0.2-0.5 0-0.7l2.9-2.9-2.9-2.9c-0.2-0.2-0.2-0.5 0-0.7l1-1c0.2-0.2 0.5-0.2 0.7 0l2.9 2.9 2.9-2.9c0.2-0.2 0.5-0.2 0.7 0l1 1c0.2 0.2 0.2 0.5 0 0.7l-2.9 2.9 2.9 2.9c0.2 0.2 0.2 0.5 0 0.7z' /%3E%3C/svg%3E");
}
.comment__deleteButton:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23A81EFF' d='M16 29c-7.2 0-13-5.8-13-13s5.8-13 13-13 13 5.8 13 13-5.8 13-13 13zM16 6c-5.5 0-10 4.5-10 10s4.5 10 10 10c5.5 0 10-4.5 10-10s-4.5-10-10-10zM20.5 19.5l-1 1c-0.2 0.2-0.5 0.2-0.7 0l-2.9-2.9-2.9 2.9c-0.2 0.2-0.5 0.2-0.7 0l-1-1c-0.2-0.2-0.2-0.5 0-0.7l2.9-2.9-2.9-2.9c-0.2-0.2-0.2-0.5 0-0.7l1-1c0.2-0.2 0.5-0.2 0.7 0l2.9 2.9 2.9-2.9c0.2-0.2 0.5-0.2 0.7 0l1 1c0.2 0.2 0.2 0.5 0 0.7l-2.9 2.9 2.9 2.9c0.2 0.2 0.2 0.5 0 0.7z' /%3E%3C/svg%3E");
}

.feedback {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

.commentform {
  display: flex;
  flex-grow: 1;
  margin-bottom: 10px;
}

.commentform__input {
  width: 100%;
  padding: 10px;
  border: 0;
  background-color: #F6F6F6;
}

.commentform__submit {
  background-color: #A81EFF;
  padding: 0 12px;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease;
}

.commentform__submit:hover {
  background-color: #A852FF;
}