/* global app specific styles */

body {
  background-color: #050c0e;
  background-image: url(/workshop/img/bg.jpg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 0;
  background-size: cover;
  font-size: 16px;
  min-height: 100vh;
}

@media screen and (min-width: 700px) {
  body {
    font-size: 15px;
  }
}

body, input, button {  
  font-family: helvetica;
}

body, a {
  color: #000;
}

.app {
  min-width: 320px;
}

/* header section */

.header {
  display: flex;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  height: 100px;
  align-items: center;
  color: #fff;
  flex-direction: column;
}
@media screen and (min-width: 700px) {
  .header {
    height: 166px;
  }
}

.header_logo {
  background-image: url(/workshop/img/logo.png);
  width: 264px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 75%;
}

@media screen and (min-width: 700px) {
  .header_logo {
    width: 526px;
    background-size: 50%;
  }
}

.header_logo span {
  display: none;
}

.header_title {
  margin-top: 6px;
  font-size: 13px;
}

@media screen and (min-width: 700px) {
  .header_title {
    margin-top: 12px;
    font-size: initial;
  }
}

/* order section */

@media screen and (min-width: 700px) {
  .store {
    max-width: 900px;
    margin: 0 auto;
  }
}

/* video items */
.video_items {
  background-color: rgba(71, 59, 180, 0.20);
  transition: all 600ms ease;
}

@media screen and (min-width: 700px) {
  .video_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 32px;
  }
}

/* animate removing store content */
.closeStoreContent-enter {
  opacity: 0.01;
  max-height: 0;
}

.closeStoreContent-enter-active {
  opacity: 1;
  max-height: 1000;
  transition: all 500ms ease;
}

.closeStoreContent-leave {
  max-height: 1000px;
  opacity: 1;
}

@media screen and (min-width: 700px) {
  .closeStoreContent-leave {
    padding: 32px;
  }
}

.closeStoreContent-leave-active {
  max-height: 0;
  opacity: 0.01;
  padding: 0;
  transition: all 500ms ease;
}

/* footer section */

.footer {
  text-align: center;
  padding: 40px 0 80px;
  font-size: 12px;
  color: #264153;
}
