/* buttons with icons */

.btn.icon {
  display: flex;
  align-items: center; /* cross axis */
  justify-content: center; /* main axis */
}

.btn.icon:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 6px;
  background-size: 12px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.btn.icon-add:after {
  background-image: url(/workshop/svg/add.svg);
}

.btn.icon-play:after {
  background-image: url(/workshop/svg/play.svg);
}

.btn.icon-add.depressed:after {
  display: none;
}