.btn {
  display: inline-block;
  outline: none;
  text-align: center;
  font: bold 15px helvetica;
  padding: 10px 10px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: #ec4800;
  transition: all 120ms;
}

.btn:hover {
  background-color: #f98d00;
}

.btn.depressed {
  color: #848484;
  background-color: #bebebe;
}