/* Custom styling for Play Now Button */

@import url("../../theme.css");

.button_play_now {
  background-color: var(--secondary-color-dark);
  width: 110px;
}

.button_play_now:hover {
  background-color: var(--secondary-color-light);
}
