@import url("./reset.css");

body {
  background-color: #E1E1E1;
  font-size: 1.125rem;
}

body, input, button {  
  font-family: roboto, helvetica;
}

body, a {
  color: #222324;
}

/* svg icons and buttons */
.icon {
  width: 12px;
  height: 12px;
  margin-left:8px;
}
.icon.icon-plus{
  fill: #fff;
}

.btn {
  display: inline-block;
  outline: none;
  text-align: center;
  font: bold 15px helvetica;
  padding: 10px 10px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: #ec4800;
  transition: all 300ms;
}

.btn:hover {
  background-color: #f98d00;
}

.btn.depressed {
  color: #848484;
  background-color: #bebebe;
}

.btn.withicon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
}

/* app specific */
.app {
  min-width: 320px;
}

.header {
  display: flex;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  height: 70px;
  align-items: center;
  background-color: #323A4C;
  color: #fff;
}

.logo {
  background-image: url(../img/logo.png);
  width: 319px;
  height: 61px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50%;
}

.logo span {
  display: none;
}

@media screen and (min-width: 608px) {
  .order {
    max-width: 900px;
    margin: 0 auto;
  }
}

.order .food {

}

.order .food .food_photo {
  max-width: 100%;
  max-height: 224px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 608px) {
  .order .food .food_photo {
    max-height: 226px;
  }
}

.order .food .food_photo .food_photo_image {
  display: block;
  width: 100%;
  height: 100%;
}

/* food options */
.food_options {
  background-color: #fff;
}

@media screen and (min-width: 608px) {
  .options_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 32px;
  }
}

.option_item {
  border-bottom: 1px solid rgba(169, 169, 169, 0.29);
  display: flex;
  height: 82px;
  align-items: center;
  padding:22px;
  box-sizing: border-box;
}
.option_item:last-child {
  border-bottom-width: 0;
}

@media screen and (min-width: 608px) {
  .option_item {
    border: 1px solid rgba(169, 169, 169, 0.29);
    height: auto;
    min-width: 100px;
    flex-flow: column;
    width: 23%;
    flex-shrink: 1;
    position: relative;
    padding-top: 100px;
    max-width: 188px;
  }
  .option_item:last-child {
    border-bottom-width: 1px;
  }
}

.option_item_image {
  display: none;
}

@media screen and (min-width: 608px) {
  .option_item_image {
    height: 80px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    overflow: hidden;
  }
}

@media screen and (min-width: 608px) {
  .option_item_photo {
    width: 100%;
  }
}

.option_item_name {
  flex-grow: 1;
  font-weight: bold;
}

@media screen and (min-width: 608px) {
  .option_item_name {
    display: flex;
    flex-flow: inherit;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
  }
}

.option_item_price {
  padding-left: 10px;
  font-weight: normal;
}

@media screen and (min-width: 608px) {
  .option_item_price {
    margin-top: 20px;
  }
}

.option_add_button {
  min-width: 110px;
}

/* buy */
.buy {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  position: sticky;
  bottom: 0;
  padding:22px;
  box-sizing: border-box;
  background-color: #EA491C;
  color: #fff;
}

@media screen and (min-width: 608px) {
  .buy {
    height: 130px;
    position: inherit;
    bottom: inherit;
    justify-content: center;
  }
}

.buy_title {
  flex-grow: 1;
  font-weight: bold;
}
@media screen and (min-width: 608px) {
  .buy_title {
    flex-grow: 0;
  }
}

.buy_total {
  padding-left: 10px;
  padding-right: 30px;
  font-weight: normal;
}

.buy_button {
  background-color: #fff;
  color: #000;
  box-shadow: 1px -1px 2px rgba(0, 0, 0, .2);
}

.buy_button:hover {
  background-color: #000;
  color: #fff;
}

.btn.buy_button.depressed {
  box-shadow: 1px -1px 2px rgba(0, 0, 0, 0);
}

/* footer */
.footer {
  text-align: center;
  padding: 20px;
}