@import "variables.scss";

body {
  background-color: $bg-color;
  padding: 20px;
  font-size: 20px;

  @include viewport(medium) {
    background: $bg-color-medium;
  };

  p {
    filter: drop-shadow(3px 0px 5px #444);
  }

}
