@font-face {
  font-family: 'lora';
  src: url('../../assets/fonts/lora-regular-webfont.woff2') format('woff2'),
       url('../../assets/fonts/lora-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
